@using BagisiklikTakipSistemi.Models;
@model List<UyelerTablosu>
@{
    ViewBag.Title = "Bağışıklık Takip";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/bootstrap-4.0.0/dist/css/bootstrap-style.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">

                    <img src="~/bootstrap-4.0.0/dist/css/user.png" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        Profil Sayfası
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/Home/ProfilGetir/@User.Identity.Name" class="btn btn-primary btn-sm profile-edit-btn" style="color:white" name="btnAddMore">Düzenle</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
               
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" style="margin-top:-185px" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @foreach (var x in Model)
                        {
                            <div class="row">

                                <div class="col-md-6">
                                    <label>ID</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@x.ID</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Kullanıcı Adı</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@x.KulAdi @x.KulSoyadi</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Mail</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@x.Mail</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Boy</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@x.Boy</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Kilo</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@x.Kilo</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Yaş</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@x.Yas</p>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
</div>