@model BagisiklikTakipSistemi.Models.TuketimTablosu
@{
    ViewBag.Title = "Bağışıklık Takip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Bottom navbar example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-bottom/">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-color:#fbfbf2">
    <div class="container">
        <br /><br />
        <div class="jumbotron mt-3">
            <h1 style="color:#0094ff">Günlük Su Tüketiminizi Ve Adım Sayfanızı Güncelleyin</h1> <br /><br />
            <p class="lead">
                @using (Html.BeginForm("VeriGuncelle", "Home", FormMethod.Post, new { @class = "login-form" }))
                {
                    <div style="display:none">
                        @Html.TextBoxFor(x => x.ID, new { @class = "form-control rounded-left" })              
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.SuTuketim, new { @class = "form-control rounded-left", @placeholder = "Bugün kaç litre su içtiniz?", @required= "@required" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.ToplamAdim, new { @class = "form-control rounded-left", @placeholder = "Bugün kaç km yol yürüdünüz?", @required = "@required" })
                    </div>
                    <div style="display:none">

                        <input type="text" name="Durum" value="False" />
                        <input type="text" name="Tarih" value="@DateTime.Now" />
                        <input type="text" name="UyeID" value="@User.Identity.Name" />

                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Veri Güncelle</button>
                    </div>

                }
            </p>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="~/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

